[submodule "vendor/libchdr"]
	path = vendor/libchdr
	url = https://github.com/rtissera/libchdr.git
[submodule "vendor/dgVoodoo2"]
	path = vendor/dgVoodoo2
	url = https://github.com/dege-diosg/dgVoodoo2.git
